@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul {
  list-style: disc;
}

.prose p {
  margin-bottom: 10px;
}

.gameBoard {
  max-width: 42rem;
  margin: 0 auto;
  border: solid 5px black;
  background-color:  #f3e1ce;
  height: 500px;
}

.gameBoard-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  padding: 25px 25px;
  height: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.blue {
  background-color: #03aacc;
}

.black {
  background-color: black;
}

.red {
  background-color: #ce3035;
}

.green {
  background-color: #7cb121;
}

.yellow {
  background-color: #f4b02f;
}

.transparent {
  background-color: #f3e1ce;
}

.pieceGame {
  border-radius: 100%;
  border: solid 1px black;
  position: relative;
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: solid 2px white;
  cursor: pointer;
}

.dice {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.dot {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: black;
  margin: 0 2px;
  display: none;
}

#dot-1,
#dot-3,
#dot-5 {
  display: block;
}

.roll-animation {
  animation: roll 1s linear;
}

@keyframes roll {
  0% {
    transform: rotateX(0) rotateY(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
